body {
  font-family: Arial, sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}
